.App {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 2rem;
}

.alien-logo {
  height: 50px;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.title {
  cursor: pointer;
}

.title:hover {
  color: #61dafb;
}

.card {
  width: 50%;
  border: 1px solid white;
  height: 1px;
  overflow: hidden;
  transition: height 0.5s ease-in;
  padding: 0 2rem;
}

.card.open {
  height: 200px;
  overflow: auto;
}
